name: Build & Deploy Frontend

on:
  push:
    branches: ["main"]
    paths:
      - "client/**"
      - ".github/workflows/frontend-ci-cd.yml"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build_push_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push (client)
        uses: docker/build-push-action@v6
        with:
          context: ./client
          file: ./client/Dockerfile.prod
          push: true
          tags: |
            ghcr.io/jugjugjavise/distributed-systems-client:latest
            ghcr.io/jugjugjavise/distributed-systems-client:${{ github.sha }}

      - name: Trigger Render Deploy (client)
        run: |
          curl -fsS -X POST "${{ secrets.RENDER_DEPLOY_HOOK_CLIENT }}"
